@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.fondo{
    background-image: url(imagenes/cathero.jpg); 
    background-size: 100% 125%;
}
.presentacion{
    border-radius: 15px;
    border: 2.5px solid rgb(201, 181, 127);
    box-shadow: 5px;
    background-color: white;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    height: 450px;
    width: 50%;
    text-align: center;
    font-size: 15.5px;
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
}
.inicio1{
    background-color: rgb(236, 212, 142);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 

}
.boton_trivia{
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    margin-bottom: 20px;
    width: 320px;
    border-radius: 6px;
    border: 1px solid rgb(102, 14, 14);
    color: rgb(68, 3, 3);
    background-color: beige;
}
.titulo2{
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    color: brown;
}
.cronometro {
    border: 1px solid brown;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 8px;
}